<%- include('./partials/header.ejs') %>
    <h1 class="text-3xl text-center my-2 font-bold text-amber-50">Todo List</h1>

    <div class="w-[300px] md:w-[50%] block mx-auto my-5 p-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= todo.title %></h5>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 dot-text"><%= todo.description %></p>

        <div class="flex justify-between">
            <a href="/todos/<%= id%>/<%= todo._id%>/edit"
              class="inline-flex px-3 py-2 text-sm font-medium text-center text-white bg-yellow-400 rounded-lg">Edit</a>
            <form action="/todos/<%= id%>/<%= todo._id%>?_method=delete" method="post"
              class="inline-flex px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg">
              <button type="submit">Delete</button>
            </form>
          </div>
    </div> 
<%- include('./partials/footer.ejs') %>